<!doctype html>
<html lang="en" ng-app="spinningForLifeApp">

<head>
    <meta charset="utf-8">
    <title>Spinning for Kreftsaken</title>

    <!-- Angular -->
    <script src="webjars/angularjs/1.2.13/angular.js"></script>
    <script src="webjars/angularjs/1.2.13/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="webjars/bootstrap/3.1.1/css/bootstrap.css">
    <script src="webjars/jquery/1.9.0/jquery.js"></script>
    <script src="webjars/bootstrap/3.1.1/js/bootstrap.js"></script>
</head>

<body ng-controller="SpinningCtrl" style="padding-top: 70px;">

<!-- Menubar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/start">
                <img src="img/nsk-logo.png"> Spinning for Kreftsaken

            </a>
        </div>

        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right">
                <label style="vertical-align: text-top">Innsamlet beløp: {{cyclists|sumByKey:'donation'}},-</label>
                <button class="btn btn-default btn-sm" data-toggle="modal" href="#configuration">Konfigurasjon</button>
                <button class="btn btn-primary btn-sm" data-toggle="modal" href="#choose_cyclists">Ny donasjon</button>
                <button class="btn btn-default btn-sm" data-toggle="modal" href="#finished_cyclists">Donasjoner</button>
            </form>
        </div>
    </div>
</nav>

<!-- Configuration - modal -->
<div class="modal fade" id="configuration">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1><img src="img/nsk-logo-stor.png" style="vertical-align: text-top"> Konfigurasjon</h1>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <label for="pricePrHour" class="control-label">Pris pr time</label>
                    <input id="pricePrHour" type="text" class="form-control" placeholder="Pris pr time"
                           ng-model="config.pricePrHour"><br>
                    <label for="screenRowCount" class="control-label">Rader pr skjermbilde</label>
                    <input id="screenRowCount" type="text" class="form-control" placeholder="Rader pr skjermbilde"
                           ng-model="config.screenRowCount">
                    <label for="textHeadingSize" class="control-label">Tekststørrelse</label>
                    <input id="textHeadingSize" type="text" class="form-control" placeholder="Rader pr skjermbilde"
                           ng-model="config.textHeadingSize">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<!-- Add donation - modal -->
<div class="modal fade" id="choose_cyclists">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1><img src="img/nsk-logo-stor.png" style="vertical-align: text-top"> Ny donasjon</h1>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <a href="" class="btn btn-primary" ng-click="addCyclist()">
                        <span class="glyphicon glyphicon-plus"></span> Legg til
                    </a>
                </div>
                <hr>
                <div class="form-inline" role="form" ng-repeat="cyclist in cyclists | filter:{timeStarted:''}">
                    Giver
                    <input type="text" class="form-control" placeholder="Donor" ng-model="cyclist.rideFor">
                    har donert
                    <input type="text" class="form-control" placeholder="Sum" ng-model="cyclist.donation"> kr
                    <span>
                        <input type="text" class="form-control" placeholder="Syklist" ng-model="cyclist.name">
                        <a href="" class="btn btn-primary" ng-click="startCyclist(cyclist)">
                            <span class="glyphicon glyphicon-play"></span> Start
                        </a>
                        <a href="" class="btn btn-default" ng-click="removeCyclist(cyclist)">
                            <span class="glyphicon glyphicon-remove"></span> Slett
                        </a>
                    </span>

                    <div ng-show="cyclist.hasError">
                        <div>&nbsp;</div>
                        <div class="alert alert-danger">
                            {{cyclist.error}}
                        </div>
                    </div>

                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<!-- List of donations - modal -->
<div class="modal fade" id="finished_cyclists">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1><img src="img/nsk-logo-stor.png" style="vertical-align: text-top"> Donasjoner</h1>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-condensed">
                    <thead class="bold">
                    <tr>
                        <td><strong>Start</strong></td>
                        <td><strong>Donor</strong></td>
                        <td class="text-right"><strong>Beløp</strong></td>
                        <td><strong>Syklist</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cyclist in cyclists | filter:{timeStarted:'!'+''}">
                        <td>{{cyclist.timeStarted | date:'HH:mm'}}</td>
                        <td>{{cyclist.rideFor}}</td>
                        <td class="text-right">{{cyclist.donation}}</td>
                        <td>{{cyclist.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<!-- Main view -->
<div>
    <div ng-view></div>
</div>

</body>

</html>