<style>
    .cyclistBox {
        border: 3px solid lightgray;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-left: 1px;
        padding-right: 1px;
        overflow: hidden;
    }

    .cyclistFinished {
        color: grey;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div ng-class="columnClass"
             ng-repeat="cyclist in cyclists | filter:{timeStarted:'!'+'',rideFor:'!'+'NN'} | orderByKey:'timeLeft'">
            <div class="cyclistBox">
                <div ng-class="cyclist.textClass">
                    {{cyclist.rideFor}}<br>
                    <small>Kr {{cyclist.donation}}</small>
                </div>
                <small>
                    {{cyclist.name}} [{{cyclist.timeLeft | secondsToMin}}]
                    <a href="" ng-click="removeCyclist(cyclist)"><span class="glyphicon glyphicon-remove"></span></a>
                </small>
            </div>
        </div>
    </div>
</div>