<button class="btn btn-default btn-sm" data-toggle="modal" href="#choose_cyclists">Ny donasjon</button>
<button class="btn btn-default btn-sm" data-toggle="modal" href="#finished_cyclists">Donasjoner</button>

<div id="active_cyclists">
    <li ng-repeat="cyclist in cyclists | filter:{timeStarted:'!'+''}">
        <h1>{{cyclist.rideFor}}</h1><br>
        <h5>{{cyclist.name}}</h5>
        <small>{{cyclist.timeLeft | number:2}}</small>
    </li>
</div>

<div class="modal fade" id="choose_cyclists">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1>Ny donasjon</h1>
            </div>
            <div class="modal-body">
                <div class="form-inline" role="form" ng-repeat="cyclist in cyclists | filter:{timeStarted:''}">
                    <input type="text" class="form-control" placeholder="Donor" ng-model="cyclist.rideFor">
                    har donert
                    <input type="text" class="form-control" placeholder="Sum" ng-model="cyclist.donation"> kr
                    <span>
                        <input type="text" class="form-control" placeholder="Syklist" ng-model="cyclist.name">
                        <a href="" class="btn btn-primary" ng-click="startCyclist(cyclist)">Start</a>
                        <a href="" ng-click="removeCyclist(cyclist)">Slett</a>
                    </span>
                    <div>&nbsp;</div>
                </div>
                <hr>
                <div class="form-group">
                    <a href="" class="btn btn-primary" ng-click="addCyclist()">Legg til</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="finished_cyclists">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1>Donasjoner</h1>
            </div>
            <div class="modal-body">
                <div class="form-inline" role="form">
                    <ul class="form-group">
                        <li ng-repeat="cyclist in finishedCyclists">
                            {{cyclist.timeStarted | date:'HH:mm'}}: {{cyclist.rideFor}} donerte {{cyclist.donation}}
                            kroner
                            ({{cyclist.name}})
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>